<form action="/dashboard/addstation" method="POST">
  <input type="text" name="name" placeholder="Station Name" />
  <input type="number" name="lat" placeholder="Latitude" step="0.01" />
  <input type="number" name="lng" placeholder="Longitude" step="0.01" />
  <button type="submit">Add Station</button>
</form>
