{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    WeatherTop Application
  </h3>
  <div class="section">
   This is a weather view application created by Dillon Waters for Web Dev2 SETU Comp scienece
  </div>

</section>