<form action="/signup" method="POST">
  <input name="firstName" placeholder="First Name" />
  <input name="lastName" placeholder="Last Name" />
  <input name="email" placeholder="Email" type="email" />
  <input name="password" placeholder="Password" type="password" />
  <button type="submit">Submit</button>
</form>
<a href="/" class="button is-light">â† Back to Home</a>